@charset "utf-8";
/* CSS Document */
body,div,span,h1,h2,h3,h4,h5,h6,hr,p,blockquote,strong,var,b,u,i,center,dl,dt,dd,ul,ol,li,prea,address,fieldset,form,fieldset,label,legend,button,input,textarea,th,td{margin:0;padding:0;}
body {color:#666;font-size:12px;font-family:"宋体",Arial;}
ul,ol {list-style-type:none;}
select,input,img,select {vertical-align:middle;}
button,input,select,textarea {font-size:100%;}
li {list-style-type:none;vertical-align:top;}
img {vertical-align:middle;border:0px;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;font-size:100%;font-family:'Microsoft Yahei'}
table {border-collapse:collapse;border-spacing:0;}
a img {border:0;}
del {text-decoration:line-through;}
em {font-style:normal;}
.vimg-align {vertical-align:middle;}
a {color:#666;text-decoration:none;}
a:hover {color:#666; text-decoration:none;}
.fl { float:left; display:inline;}
.fr { float:right;  display:inline;}
.alignC{ text-align:center;}
.alignL{ text-align:left;}
.alignR{ text-align:right;}
.textDis {text-indent:999px}
.padT { padding-top:30px;}
.padL { padding-left:20px;}
.padR { padding-right:20px;}
.padL10 { padding-left:10px;}
.padR10 { padding-right:10px;}
.mat5 { margin-top:5px;}
.mal5 { margin-left:5px;}
.mat10 { margin-top:10px;}
.mat20 { margin-top:20px;}
.mab10 { margin-bottom:10px;}
.mab20 { margin-bottom:20px;}
.mal10 { margin-left:10px;}
.mal20 { margin-left:20px;}
.mar10{ margin-right:10px;}
.mar20{ margin-right:20px;}
.ht60 { height:60px;}
.fontLS{Letter-spacing:2px;}
.fontLS10{Letter-spacing:10px;}
.font12 { font-size:12px; line-height:10px}
.fontNor{font-weight:normal}
.dbSearch { width:138px; height:28px; line-height:28px; border:1px solid #cbcbcb; font-size:14px;}
.yelloBut { width:140px; height:30px; line-height:30px; background:#ffc000; border:none; color:#fff; font-size:14px; font-weight:bold;}
.greyBut { width:96px; height:24px; line-height:24px; font-size:14px;}
.smallSelect { line-height:26px; height:26px; color:#001c41; border:1px solid #cbcbcb; -webkit-border-radius: 5px; border-radius: 5px;}
.oz { overflow:hidden; zoom:1;}
.clear {display: block;overflow: hidden;clear: both;height: 0;line-height: 0;font-size: 0;}
.clearSpace {clear: both; height: 10px;}
.clearfix:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}
.bodyBG { width:100%; margin:0 auto;}
.wapper { width:1000px; margin:0 auto;}
/*head style begin*/
.topBar {height:90px; width:100%; background:url(../../common/images/topBarMenuBG.png) repeat-x; border-bottom:1px solid #ccc;}
.topBarMenu {width:1000px; height:60px; font-family:'Microsoft Yahei',Arial; background:url(../../common/images/centerTopBar.png) no-repeat;}
.topBarMenu h1 { float:left; width:127px;}
.topBarMenu h1 a { width:127px; height:60px; background:url(../../common/images/topLogo.png) no-repeat 0 0; display:block;}
.topBarMenu h1 a:hover { background-position:0 -60px; }
.topBarMenu dl{ height:60px; float:left; padding-left:35px; }
.topBarMenu dl dt{ font-size:24px; color:#fff; float:left; line-height:60px; font-style:italic; padding-right:10px; }
.topBarMenu dl dd{ float:left; padding-left:5px; padding-top:10px; width:55px;}
.topBarMenu dl dd a {font-size:12px; color:#fff; line-height:18px; display:block;}
.goToR { position:relative;}
.goToA3F { top:4px; right:-8px; position: absolute; z-index: 10;}
.goToA4F { top:4px; right:-16px; position: absolute; z-index: 10;}
.headLogin { float:right; padding-top:10px; text-align:left; display:inline;}
.headLogin p{ line-height:18px; color:#fff;}
.headLogin p a { color:#fff; margin-left:5px;}
.sBut { padding: 3px; border-radius: 3px 5px; background-color:#ffcc00; color:#993300; border:none;cursor:pointer; margin-left:5px;}
.topBarNew{ width:100%; height:29px; line-height:29px; color:#666; overflow:hidden;}
.topBarNew ul { padding-left:20px;}
.topBarNew a{ color:#0056fe;}
/*head style end*/
/*footer style begin*/
.footInfo { background:#e5e5e5; width:100%; text-align:center;}
.footInfo dl { float:left; text-align:left; width:20%; padding-top:20px;}
.footInfo dl dt{ color:#4c4948; font-weight:bold; font-size:14px; padding-left:60px; line-height:20px;}
.footInfo dl dd a { color:#0077B1;padding-left:60px; line-height:16px;}
.footInfo p { line-height:16px;color:#0077B1;}
.footInfo p a{ margin-right:10px;color:#0077B1;}
/*footer style end*/