@charset "utf-8";
/* CSS Document */
/*nav style begin*/
.subNav { width:180px;}
.titleBox h2 { color:#fff; font-size:18px; line-height:38px; width:150px; height:38px;  background:#7399e6; border-top:1px solid #6282c4; font-family:'Microsoft Yahei',Arial; padding-left:30px;}
.wrap-menu { overflow:auto; width:180px; background:#F6F6F6; border-bottom:1px solid #cbcbcb;}
.wrap-menu ul li{ text-indent:20px; white-space:nowrap;}
.wrap-menu ul li h3{ cursor:pointer; height:100%; font-size:14px; border:1px solid #cbcbcb; color:#666; background:#fff;line-height:48px; height:48px;border-bottom:none;}
.lev-1{border-top:1px solid #cbcbcb;}
.wrap-menu ul li a{ display:block; outline:none; height:25px; line-height:25px; margin:1px 0; color:#666; border-left:1px solid #cbcbcb; border-right:1px solid #cbcbcb;}
.wrap-menu ul li img{ margin-right:10px; margin-left:-17px; margin-top:0px; width:7px; height:7px; background: url(../images/arrow.gif) no-repeat;}
.wrap-menu ul li img.unfold{ background-position:0 -9px;}
.wrap-menu ul li a:hover{ background-color:#7399e6; color:#fff;}
.wrap-menu ul li a.redLgItem{ color:#FF0000;font-weight:bold}
.searchBox { border:1px solid #cbcbcb; border-top:none; width:138px; padding:20px;}
.searchBox .radioTP { line-height:35px; }
.searchBox .radioTP input { margin-right:5px; }
.searchBox ul li { line-height:30px; font-size:14px;}
.searchBox ul li a:hover { color:#0056fe;}
/*nav style end*/
/*mainContent style begin*/
.mainContent { float: right;width: 800px;}
.mainTitle { background:url(../images/mainTitleBG.png) no-repeat; width:800px; min-height:128px;}
.teamLogoBox { padding-left:20px; padding-top:15px; }
.rounds { margin-left:140px; padding-top:15px; width:625px;}
.rounds h2 { font-size:21px; color:#001c41; padding-bottom:10px; }
/*table style begin*/
.rdTable {border:1px solid #cbcbcb; text-align:center; background:#fff; display:none}
.rdTable th { line-height:22px; font-weight:normal;border:1px solid #cbcbcb; }
.rdTable td { line-height:28px;border:1px solid #cbcbcb;}
.rdTable a { display:block;}
.rdTable a:hover {background:#7399e6;color:#fff;}
.chooseTable li { height:34px; line-height:34px;margin: 1px ; float: left;}
.chooseTable li a{ display:block; text-align:center; font-weight:bold; color:#5976b2; height:28px; line-height:28px; background:url(../images/cupBgW.gif) repeat-x; border: 1px solid #6d91da; width:150px;cursor:pointer;}
.chooseTable li a:hover{ background: url(../images/cupBgB.png) repeat-x;}
.chooseTable li .cupBgB {background: url(../images/cupBgB.png) repeat-x;}
.blueTable {font-size:14px; text-align:center;font-family:Arial; border:1px solid #cdcdcd;}
.blueTable th{background:#7399e6; color:#fff; border-top:1px solid #6282c4;border-bottom:1px solid #fff;}
.blueTable td{border:1px solid #cbcbcb; line-height:46px; }
.whiteR { border-right:1px solid #fff;}
.greyBorL { border-left:1px solid #cdcdcd;}
.greyBorR { border-right:1px solid #cdcdcd;}
.timeLH td p { line-height:20px; color:#999;}
.dateLH td { height:65px;}
.dateLH td p { line-height:16px; font-size:12px; color:#000;}
.dateLH td p font { color:#1f8f2f; margin-left:5px;}
.numLH td { height:45px;}
.numLH td p { line-height:22px; font-size:12px; color:#000;}
.numLH td p font { color:#201bf7; margin-right:5px;}
.blueTable td b a { display:block;}
.blueTable td em a { padding-right:3px; padding-left:3px;}
.blueTable td .greyEM a:hover { color:#0056fe;}
.greyTable {font-size:14px; text-align:center;font-family:Arial;line-height:48px;}
.greyTable th{background:#f9f9f9;border:1px solid #cbcbcb;}
.greyTable td{border:1px solid #cbcbcb;}
.greyTable td span a { display:block;}
.greyTable td b a:hover { color:#0056fe;}
.whiteTableBox { padding:20px 30px;background:#fff; border:1px solid #cbcbcb; border-top:none; }
.whiteTable {line-height:30px; font-size:14px}
.whiteTable th{ text-align:left; }
.textBox { border:1px solid #cbcbcb; border-top:none; padding:30px;}
.textBox p { line-height:16px; text-indent: 20px;}
.readGlass { background:url(../images/readGlass.png) no-repeat; width:16px; height:17px;}
.titleFD { background:url(../images/fourDataBG.jpg) no-repeat; width:1000px; height:169px;}
.imgBox { width:130px; height:130px; margin:19px 32px;text-align:center;vertical-align: middle;}
.imgBox img { width:108px; }
.centerFD { width:612px; font-family:'Microsoft Yahei',Arial; margin-top:27px;}
.tTableFD { text-align:center; color:#fff;}
.halfTable { line-height:28px; border:1px solid #cbcbcb; font-size:14px;}
.halfTable th { border:1px solid #cbcbcb;}
.halfTable td { border:1px solid #cbcbcb;}
.halfTableTd { line-height:28px; font-size:14px;}
.halfTableTd th { border-left:1px solid #cbcbcb;border-right:1px solid #cbcbcb;}
.leftHalf { text-align:center; border:1px solid #cbcbcb;}
.leftHalf th { color:#4c4c4c; background:#f3a8a7; border:1px solid #fff;}
.leftHalf td { background:#fddce0; border:1px solid #fff;}
.rightHalf { text-align:center;}
.rightHalf th { color:#4c4c4c; background:#accfee; border:1px solid #fff;}
.rightHalf td { background:#ddf4fd; border:1px solid #fff;}
.tTableFD th { font-size:18px;}
.tTableFD td { font-size:16px; font-weight:bold;}
.bTableFD { color:#333; font-size:14px; margin-top:30px; line-height:35px;}
.bTableFD th { text-align: left;}
.bTableFD td {  text-align:right;}
.lBlueT {font-size:14px; text-align:center;font-family:Arial; border:1px solid #cdcdcd;}
.lBlueT th{ color:#4c4c4c; border-bottom:1px solid #fff;}
.lBlueT td{border:1px solid #cbcbcb; line-height:29px; }
.whiteT {font-size:14px; text-align:center;font-family:Arial;}
.whiteT th{ color:#4c4c4c; border:1px solid #cbcbcb;}
.whiteT td{border:1px solid #cbcbcb; line-height:29px; }
.yelloT {font-size:14px; text-align:center;font-family:Arial; border:1px solid #cdcdcd;}
.yelloT th{ color:#4c4c4c; border-top:1px solid #cdcdcd; border-bottom:1px solid #fff;}
.yelloT td{border:1px solid #cbcbcb; line-height:29px; }
.lineBox {border-radius:5px; color:#fff; height:8px; line-height:8px;}
.blockA a { display:block;}
.titleH3{ font-size:14px; text-indent:20px; border:1px solid #cbcbcb;border-bottom: none; height:38px; line-height:38px;background:#f3f3f3;}
.lineH26 { line-height:26px;}
.lineH29 { line-height:29px;}
.lineH46 { line-height:46px;}
.lBorW { border-right: 1px solid #fff;}
.redSquare { font-size:30px; color:#ff9999;}
.blueSquare { font-size:30px; color:#99bbff; }
.yelloSquare { font-size:30px; color:#ffee99; }
.whiteF { color:#fff;}
.redColor { color:#F00;}
.deepRedF { color:#cc1414;}
.deepRedF:hover { color:#cc1414;}
.deepBlueF { color:#0056fe;}
.deepBlueF:hover { color:#0056fe;}
.ddBlueF { color:#6b6fa8}
.blackF { color:#333;}
.greenF { color:#00bd12;}
.blueBG { background:#7399e6;}
.blueBG a{color:#fff;}
.greenBG { background:#9ff3c7;}
.deepBlueBG { background:#7ca0c5;}
.halfRedBG { background:#ff7e7c;}
.halfBlueBG { background:#7da8ff;}
.lBlueBG {background:#accfee;}
.lRedBG {background:#f3a8a7;}
.lYelloBG { background:#ffefb6;}
.lightGreyBG { background:#fdfdfd;}
.greyBG { background:#f4f4f4;}
.yelloBG { background:#fbebc2;}
.trGreyBG { background:#f9f9f9;}
.trPinkBG { background:#fffae7;}
.trBlueBG { background:#ebfaff;}
.SlateBlueBG { background:#c9e3ec;}
.lightBlueBG { background:#d1e8ff;}
.lightYelloBG { background:#fffcef;}
.lightRedBG { background:#fff9e9;}
.redBgS { background:#ff9999;}
.blueBgS { background:#99bbff; }
.yelloBgS { background:#ffee99; }
.lineGreen { background:#a3d44f;}
.lineBlue { background:#5ccbef;}
.lineBlueL { background:#a3d6e7;}
.linePurple { background:#dba3e7;}
.lineYello { background:#f6bf69;}

/*table style end*/
/*tab style begin*/
.blueTitBox { width:100%;}
.blueTitBox h3{ color:#fff; font-size:14px; text-indent:20px; border-top:1px solid #6282c4;border-bottom:1px solid #fff; height:38px; line-height:38px;background:#7399e6;}
.titleTabGrey { font-size:14px; font-weight:bold;}
.inTabB {height:55px; border-left:1px solid #cbcbcb; border-right:1px solid #cbcbcb;}
.inTabH {height:55px;}
.titleTabGrey ul { height:32px;border-bottom:1px solid #cbcbcb;width:100%; padding-top:10px;}
.titleTabGrey ul li{float:left;height:32px;line-height:28px;margin-left:10px; width:116px;text-align:center;display:block;position:relative;background:#e8e8e8;}
.titleTabGrey ul li.selectTag span{ position:absolute; display:block; width:116px; height:32px; border-top:1px solid #cbcbcb; border-left:1px solid #cbcbcb; border-right:1px solid #cbcbcb; border-bottom:2px solid #fff; background:#fff;}
.blueTitBox .tag { width:100%; background:#fff;}
.titleTabBlue { font-size:14px; }
.titleTabBlue th{ width:88px;background:#7399e6; color:#fff; border:1px solid #7399e6}
.titleTabBlue td{ height:28px;line-height:28px;text-align:center;background:#fff; border:1px solid #7399e6}
.titleTabBlue td a{ color:#6282c4; font-weight:bold;display:block }
.titleTabBlue td.selectTag{ background:#bdd2ff;}
.titleTabBlue .tag { width:100%; background:#fff;}
.tabContent { width:100%; background:#fff;}
.tabGreySC { height:45px; font-size:14px; font-weight:bold;}
.tabGreySC ul { height:35px;border-bottom:1px solid #cbcbcb;width:100%; padding-top:10px;}
.tabGreySC ul li{float:left;height:32px;line-height:32px;margin-right:10px; width:116px;text-align:center;display:block;position:relative;background:#e8e8e8; border-bottom:4px solid #dadada;}
.tabGreySC ul li.selectTag span{ position:absolute; display:block; width:116px; height:33px; border-top:1px solid #cbcbcb; border-left:1px solid #cbcbcb; border-right:1px solid #cbcbcb; border-bottom:2px solid #fff; background:#fff;}
.tagSC { border-left:1px solid #cbcbcb; border-right:1px solid #cbcbcb ;border-bottom:1px solid #cbcbcb; padding-bottom:120px;min-height:1000px}
/*tab style end*/
/*pager style begin*/
.pagerBox { border:1px solid #cbcbcb; border-top:none; overflow:hidden}
.pager {font-size:14px; padding-bottom: 10px; margin: 5px 8px; padding-top: 3px; text-align: right; float: right;}
.pager a { font-size:14px; padding:2px 5px; color: #666; margin-right: 2px; text-decoration: none;}
.pager a:hover { padding: 2px 5px; color: #3366CC; margin-right:2 px;}
.pager span.current { padding:2px 5px; font-weight: bold; color: #3366CC; margin-right:2px;}
.pager span.disabled { padding:2px 5px; margin-right:2px;}
/*pager style end*/
/*mainContent style end*/





